{
    "listen": {
        "server": {
            "host": "0.0.0.0",
            "port": "3000"
        },
        "pprof": {
            "host": "0.0.0.0",
            "port": "3001"
        }
    },
    "database": {
        "etcd": {
            "endpoints" : [
                "http://etcd:2379"
            ],
            "timeout_s": "5"
        },
        "vault": {
            "addr": "http://vault:8200",
            "token": "{{ cicd_service_go_vault_root_token }}",
            "timeout_s": "60"
        }
    },
    "logging": {
        "level": "info"
    },
    "schedule": {
        "cron_timer_s": 10,
        "tasks_parallel_workers": 5,
        "tasks_history_count": 100,
        "ttl_wait_tasks_s": 3600
    },
    "cluster": {
        "namespace_dcs": "/service",
        "ttl": 30,
        "loop_wait": 10,
        "retry_timeout": 10
    }
}
